* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    --text-color: #404040;
    --text-color-white: rgba(255, 255, 255, .9);
    color: var(--text-color);
    user-select: none;
}
.container {
    height: inherit;
    margin: 0 auto;
    width: 1024px;
}
header {
    height: 50px;
}
.logo {
    background: url(/img/favicon.png) no-repeat center top/cover;
    width: 41px;
    height: 41px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.main {
    background: url(../img/background-1.png) no-repeat center 60%/cover;
}
.menu, li{
    display: flex;
}
.menu__item{
    margin: 0 10px;
    font-size: 24px;
}
.card__wrapper{
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top {
    margin-top: 20px;
}
.bottom {
    margin-bottom: 20px;
}
.block__wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
}
.block {
    overflow: hidden;
    height: 200px;
    border-radius: 35px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .15);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: end;
    justify-content: end;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
    background: rgba(0,0,0,.1);
    padding: 15px;
}
.logo__wrapper {
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__logo{
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat center center/ 75%;
    opacity: .8;
}
.tgbot__info, .server__info {
    width: 781px;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    padding: 0px;
}
.title{
    width: inherit;
    padding: 10px 20px;
    background: rgba(255, 255, 255, .2);
    color: var(--text-color-white);
    font-size: 28px;
}
.server__info .ip {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-white);
    transition: .3s;
    cursor: pointer;
}
.server__info .ip:hover{
    color: var(--text-color);
}
.tgbot__info .info {
    padding: 10px 10px;
    font-size: 24px;
    color: var(--text-color-white)
}
.tgbot__link, .online{
    width: 228px;
}
.tgbot__link a{
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tgbot__link{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    cursor: pointer;
    padding: 0px;
}
.tgbot__link .text {
    color: var(--text-color-white); 
    transition: .5s;
}
.tgbot__link .text:hover {
    color:var(--text-color);
}
.tgbot__text{
    color: var(--text-color-white);
}
.online {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0px;
}
.online__info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.online__status, .online__number{
    color: var(--text-color-white);
}
.info {
    height: 720px;
}
footer {
    height: 50px;
    background-color: var(--text-color);
}
.footer__content{
    color: rgba(255, 255, 255, .7);
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__content .menu__item a{
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
}
